html {
    height: 100%;
}

body {
    height: 100%;
}

#app-container {
    height: 100%;
}

div {
    border: 1px solid black;
}

#dropdown-content-results {
    height: 100%;
    overflow: scroll;
}

#dropdown-menu {
    height: 44vh;
}

#dropdown {
    height: 100%;
}
/* body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

div {
    border: 1px solid black;
}

#left-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#right-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

img {
    max-width: 100%;
    height: auto;
}

.is-active {
    background-color: orange;
}

.is-commander {
    border: 1px solid burlywood;
} */
